{% extends "base.html" %} {% block title %}Arbeitszeiten bearbeiten{% endblock %} 
{% block content %}
<body style="background-image: url(../static/graphics/mediceo_logo.jpg);">
<form method="POST">
    <h3 align="center" style = "color: #f4c430; margin-top: 5%;margin-bottom: 3%; font-size: 32px;">Arbeitszeiten bearbeiten</h3>
    <h6>Bitte wähle das Datum aus, welches <u>gelöscht</u> werden soll.</h6>
    <br />
    <div class="form-group">
      <label for="Datum">Datum:</label>
      <input
        type="date"
        class="form-control"
        id="date"
        name="date"
        placeholder="Datum eingeben"
      />
    </div>
      <br />
    <button type="submit" class="btn btn" style="background-color: #f4c430;">Abschicken</button>
  </form>
</body>
{% endblock %}